.container {
  position: absolute;
  top: 5rem;
  left: calc(100vw - 23.25rem);
  height: 15rem;
  width: 22rem;
  background-color: red;
  border-radius: 11px;
  background-color: #fff;
  box-shadow: 0px 12px 20px 0 hsla(0, 0%, 0%, 25%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}
.header {
  border-bottom: 2px solid hsl(223, 64%, 98%);
  padding: 1rem;
}
.header h3 {
  font-size: 1rem;
  font-weight: 700;
}
.cartbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0rem 1rem;
}
.cartbodyNull p {
  font-weight: 700;
  color: hsl(220, 14%, 75%);
}
.cart_body_container {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

.cartbodyFill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cartbodyFill .itemImage {
  width: 15%;
}
.cartbodyFill .itemImage img {
  width: 100%;
  border-radius: 8px;
}
.cartbodyFill .itemDescription {
  display: flex;
  flex-direction: column;
  align-items: normal;
  row-gap: 0.3rem;
  color: hsl(220, 14%, 75%);
  font-weight: 400;
}
.price {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}
.cart_body_container button {
  font-size: 1rem;
  width: 100%;
  padding: 1.2rem;
  border: none;
  background-color: hsl(26, 100%, 55%);
  color: hsl(25, 100%, 94%);
  font-weight: 700;
  border-radius: 11px;
}

@media screen and (max-width: 875px) {
  .container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 6.2rem);
    height: 15rem;
    width: 22rem;
    background-color: red;
    border-radius: 11px;
    background-color: #fff;
    box-shadow: 0px 12px 20px 0 hsla(0, 0%, 0%, 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }
}
